tr {
    border-bottom: 1px solid #ccc;
    font-size: 16px;
}
td {
    padding: 10px;
    font-family: Tahoma, sans-serif;
    background-color: #ae7272;
    color: rgb(29, 6, 6);
}
table {
    border: 1px solid #ccc;
    padding: 3px;
    background-color: #951414;
}
th {
    padding: 10px;
    font-family: Tahoma, sans-serif;
    background-color: #ae7272;
    color: white;
}
